# Backend node modules
backend/node_modules/

# Remix build files
build/
public/build/
.cache/

# macOS system files
.DS_Store

# Env files (never commit keys)
backend/.env
.env

# IDE folders
.vscode/
.idea/

node_modules
